.game-container {
	margin: 0px auto;
	position: relative;
}
.score-container,
.speed-container {
	width: 500px;
	margin: 10px auto 0px;
	font-size: 20px;
	font-family: Verdana;
	text-align: center;
}
.speed-container div,
.score-container div {
	display: inline-block;
	padding: 5px;
}
.score-container div.reset {
	display: block;
	font-size: 12px;
}

.speed-container .slower,
.speed-container .faster {
	cursor: pointer;
}
.score-container .lowest {
	color: red;
}
.score-container .average {
	color: blue;
}
.score-container .highest {
	color: green;
}
.cell {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.cell.blue {
	background-image: url(../images/brick_blue.png);
}
.cell.green {
	background-image: url(../images/brick_green.png);
}
.cell.pink {
	background-image: url(../images/brick_pink.png);
}
.cell.active {
	background-image: url(../images/brick_active.png);
}